<md-toolbar class="navigation">
  <h1 class="header">
    Hi there!
  </h1>
</md-toolbar>

<md-card class="main">
  <md-tab-group>
    <md-tab>
      <template md-tab-label>
        Primary
      </template>
      <template md-tab-content>
        <p>
          Primary content
        </p>
        <button md-raised-button color="primary">
          Primary button
        </button>
      </template>
    </md-tab>
    <md-tab>
      <template md-tab-label>
        Secondary
      </template>
      <template md-tab-content>
        <p>
          Secondary content
        </p>
        <button md-raised-button color="secondary">
          Secondary button
        </button>
      </template>
    </md-tab>
  </md-tab-group>
</md-card>

<div class="fab">
  <button md-fab><md-icon>check circle</md-icon></button>
</div>
