:host
  display: block

.navigation
  background-color: #fff
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26)

.main
  box-sizing: border-box
  background-color: #fff
  margin: 24px auto
  max-width: 350px
  min-width: 350px

.fab
  position: fixed
  bottom: 30px
  right: 30px
