<!doctype html>
<html>
  <head>
    <base href="<%= htmlWebpackPlugin.options.baseHref %>"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="<%= htmlWebpackPlugin.options.meta.description %>">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.meta.title %>">
    <meta http-equiv="pragma" content="no-cache">

    <meta name="theme-color" content="#696969">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css">

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <app></app>
  </body>
</html>
